<div class="navigator">
  <nav class="navigator-container">
    <div class="navigator-option">
      <a class="navigator-link" [routerLink]="['home']">Home</a>
    </div>
    <div class="navigator-option">
      <a class="navigator-link" [routerLink]="['contact']">Contact</a>
    </div>
    <div class="navigator-option">
      <a class="navigator-link" [routerLink]="['fruta']">Fruta</a>
    </div>
    <div class="navigator-option">
      <a class="navigator-link" [routerLink]="['empleados']">Empleados</a>
    </div>
  </nav>
</div>
