<nav class="navigator-container">
  <div class="navigator-option">
    <a
      class="navigator-link"
      [routerLink]="['home']"
      [routerLinkActive]="['linkActive']"
      >Home</a
    >
  </div>
  <div class="navigator-option">
    <a
      class="navigator-link"
      [routerLink]="['contact']"
      [routerLinkActive]="['linkActive']"
      >Contact</a
    >
  </div>
  <div class="navigator-option">
    <a
      class="navigator-link"
      [routerLink]="['fruta']"
      [routerLinkActive]="['linkActive']"
      >Fruta</a
    >
  </div>
  <div class="navigator-option">
    <a
      class="navigator-link"
      [routerLink]="['empleados']"
      [routerLinkActive]="['linkActive']"
      >Empleados</a
    >
  </div>
</nav>
